/* #main {
    background: linear-gradient(180deg, black, rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, .7), rgba(0, 0, 0, .6), rgba(0, 0, 0, .5), rgba(0, 0, 0, .4), rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1), black);
} */

#name {
    background: -webkit-linear-gradient(#fff, #a5a5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#prof {
    background: -webkit-linear-gradient(#58ffb4, #289061);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}